<div *ngIf="addModeloState" style="z-index: 10; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.3); position: absolute;">
    <div class="mdl-card mdl-shadow--2dp" style="display: table; margin: 10% auto">
        <div class="mdl-card__title">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Adicionar Modelo</h3>
            </div>
        </div>
        <div class="mdl-card__media mdl-color--white">
            <div class="form-group " style="margin-bottom: 10px; height: 90px;">
                <label class="col-2 col-form-label" style="max-width: 175px;">Marca do veiculo <span class="text-danger">*</span></label>
                <div class="controls col-12" style="position: relative; bottom: 20px;">
                    <div class="mdl-textfield mdl-js-textfield comboBox" >
                        <input style="cursor: pointer" readonly (click)="marcaState = !marcaState" (keydown)="filterMarcas($event, this.marca, this.marcas)" [(ngModel)]="this.marca"  type="text" class="comboBox__input">
                
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="marcaState = !marcaState">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
                
                        <div class="comboBox__items" *ngIf="marcaState" (blur)="marcaState = false">
                            <button *ngFor="let m of resultFilterMarcas; let i = index" (click)="setMarca(m)" class="mdl-button mdl-js-button comboBox__item">
                                <span style="position: absolute; left: 2px; top: 2px;">{{m.vm_nome}}</span>
                            </button>
                            <span *ngIf="resultFilterMarcas.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-2 col-form-label" style="max-width: 175px;">Nome <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="addModeloInput" type="text" class="form-control" placeholder="Modelo">
                </div>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button (click)="cancelAddModelo()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Cancelar
            </button>
            <button (click)="addModelo()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Adicionar
            </button>
        </div>
    </div>
</div>

<!-- Add marca -->
<div *ngIf="addMarcaState" style="z-index: 10; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.3); position: absolute;">
    <div class="mdl-card mdl-shadow--2dp" style="display: table; margin: 10% auto">
        <div class="mdl-card__title">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Adicionar Marca</h3>
            </div>
        </div>
        <div class="mdl-card__media mdl-color--white">
            <div class="form-group ">
                <label class="col-2 col-form-label" style="max-width: 175px;">Nome <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="addMarcaInput" type="text" class="form-control" placeholder="Marca">
                </div>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button (click)="cancelAddMarca()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Cancelar
            </button>
            <button (click)="addMarca()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Adicionar
            </button>
        </div>
    </div>
</div>

<!-- Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Cadastro de Morador</h3>
        </div>
  
        <div>
            <div *ngIf="!this.pageParams.params.page && error.message.length > 0" style="display: table; margin: 2% auto;width: 200px;">
                <i class="material-icons" style="font-size: 47px; color: #43535b; margin: auto; display: table;" >info_outline</i>
                <span style="color: #43535b; bottom: 20px; margin: 4px auto; display: table; font-weight: bold; font-size: 14px;">{{this.error.name}}</span>
                <span style="color: #43535b; bottom: 20px; margin: 1px auto; display: table; font-weight: bold; font-size: 12px;text-align: center;">{{this.error.message}}</span>
        
                <div style="border: 1px solid #eeeeee; width: 95%; height: 0px; display: table; margin: 0 auto;"></div>
                <button class="mdl-button mdl-button--icon" style="background: #0178bc; margin: 0 auto; width: 32px; height: 32px;float: right;margin-top: 15px;" (click)="refreshContent()">
                    <i class="material-icons mdl-color-text--white">replay</i>
                </button>
            </div>
    
            <div *ngIf="(!this.pageParams.params.page || editPhoto) && error.message.length < 1 && error.name != 'Webcam não encontrada!'">
                <div style="display: table; margin: 2% auto; border-radius: 4px; border: 1px solid #dcdcdc; width: 320px; height: 320px; position: relative;">
                <video #video id="video" width="420" height="380" autoplay></video>    
                <div *ngIf="this.camData.length < 1" style="border-right: 2px solid #d50000; width: 80px; height: 100%; background-color: rgba(0,0,0,0.2);  position: absolute; left: 0px; top: 1px;"></div>
                <div *ngIf="this.camData.length < 1" style="border-left: 2px solid #d50000; width: 80px; height: 100%; background-color: rgba(0,0,0,0.2); position: absolute; right: 0px; top: 1px;"></div>
                <div *ngIf="this.camData.length < 1" style="width: 100%; height: 120px; position: absolute; left: 0px; top: 1px;">
                    <span style="display: table; margin: 5% auto; font-weight: bold; color: #212121; font-size: 22px;">Mantenha o rosto centralizado</span>
                </div> 
                <canvas #myCanvas id="myCanvas" width="420" height="380" style="display: none"></canvas>
                </div>  
        
                <div style="display:table; margin:auto; width: 95%; background-color: #dcdc; border-bottom: 1px solid #eee;">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" *ngIf="this.camData.length < 1 && this.editPhoto == false" (click)="takePhoto()" style="background: #0178bc; width: 62px; height: 62px; margin: -65px auto; position: relative; display: table;">
                        <i class="material-icons mdl-color-text--white">camera_alt</i>
                    </button> 
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" (click)="retryPhoto()" *ngIf="this.camData.length > 0 && this.editPhoto == false" style="background: #0178bc; width: 62px; height: 62px; margin: -65px auto; position: relative; display: table;">
                        <i class="material-icons mdl-color-text--white">delete_forever</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" *ngIf="this.camData.length < 1 && this.editPhoto == true" (click)="takeOtherPhoto()" style="background: #0178bc; width: 62px; height: 62px; margin: -65px auto; position: relative; display: table;">
                        <i class="material-icons mdl-color-text--white">camera_alt</i>
                    </button> 
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" (click)="retryOtherPhoto()" *ngIf="this.camData.length > 0 && this.editPhoto == true" style="background: #0178bc; width: 62px; height: 62px; margin: -65px auto; position: relative; display: table;">
                        <i class="material-icons mdl-color-text--white">delete_forever</i>
                    </button>
                </div>
            </div>

            <div *ngIf="this.pageParams.params.page && this.foto.length > 0" style="display: table; margin: auto; width: 420px; height: 380px; border: 1px solid #dcdcdc; border-radius: 4px;">
                <img [src]="'http://localhost/acessov1/uploads/'+foto" />
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" *ngIf="this.foto.length > 0" (click)="allowEditPhoto()" style="background: #0178bc; width: 62px; height: 62px; margin: -65px auto; position: relative; display: table;">
                    <i class="material-icons mdl-color-text--white">mode_edit</i>
                </button> 
            </div>
            
              <div class="form-group ">
                  <label class="col-2 col-form-label">Nome <span class="text-danger">*</span></label>
                  <div class="controls col-12">
                      <input type="text" class="form-control" [(ngModel)]="this.nome" >
                  </div>
                  <small *ngIf="this.errorNome.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>
    
              <div class="form-group ">
                  <label class="col-2 col-form-label">RG <span class="text-danger">*</span></label>
                  <div class="controls col-12">
                      <input id="rgCadMoradorInput" type="text" class="form-control" [(ngModel)]="this.rg">
                  </div>
                  <small *ngIf="this.errorRG.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>
    
              <div class="form-group ">
                  <label class="col-2 col-form-label">Telefone <span class="text-danger">*</span></label>
                  <div class="controls col-12">
                      <input id="telCadMoradorInput" type="text" class="form-control" [(ngModel)]="this.telefone">
                  </div>
                  <small *ngIf="this.errorTelefone.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>

              <div class="form-group " style="margin-bottom: 10px; height: 90px;">
                  <label class="col-2 col-form-label">Casa <span class="text-danger">*</span></label>
                  <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                    <div class="mdl-textfield mdl-js-textfield comboBox" >
                        <input style="cursor: pointer" readonly (click)="state = !state" (keydown)="filterCasas($event, this.casa, this.casas)" [(ngModel)]="this.casa"  type="text" class="comboBox__input">
                  
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="state = !state">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
                  
                        <div class="comboBox__items" *ngIf="state" (blur)="state = false">
                            <button *ngFor="let c of resultFilterCasas; let i = index" (click)="setCasa(c)" class="mdl-button mdl-js-button comboBox__item">
                                <span style="position: absolute; left: 2px; top: 2px;">{{'Rua: ' + c.cas_rua_nome + ' | Quadra :' + c.cas_quadra + ' | Lote: '+ c.cas_lote}}</span>
                            </button>
                            <span *ngIf="resultFilterCasas.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                        </div>
                    </div>
                  </div>
                  <small *ngIf="this.errorCasa.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>

            <div class="form-group " *ngIf="!this.pageParams.params.page" style="margin-bottom: 10px; height: 90px;">
                <label class="col-2 col-form-label">Marca do veiculo <span class="text-danger">*</span></label>
                <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                  <div class="mdl-textfield mdl-js-textfield comboBox" >
                      <input style="cursor: pointer" readonly (click)="marcaState = !marcaState" (keydown)="filterMarcas($event, this.marca, this.marcas)" [(ngModel)]="this.marca"  type="text" class="comboBox__input">
                
                      <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="marcaState = !marcaState">
                          <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                      </button>
                
                      <div class="comboBox__items" *ngIf="marcaState" (blur)="marcaState = false">
                        <button (click)="openAddMarca()" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;"><i class="material-icons" style="position: relative; bottom: 2px">add</i>Adicionar Marca</span>
                        </button>
                        <button *ngFor="let m of resultFilterMarcas; let i = index" (click)="setMarca(m)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{m.vm_nome}}</span>
                        </button>
                        <span *ngIf="resultFilterMarcas.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                      </div>
                  </div>
                </div>
                <small *ngIf="this.errorMarca.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>

            <div class="form-group " *ngIf="!this.pageParams.params.page" style="margin-bottom: 10px; height: 90px;">
                <label class="col-2 col-form-label">Modelo do veiculo <span class="text-danger">*</span></label>
                <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                  <div class="mdl-textfield mdl-js-textfield comboBox" >
                      <input style="cursor: pointer" readonly (click)="modeloState = !modeloState" (keydown)="filterModelos($event, this.modelo, this.modelos)" [(ngModel)]="this.modelo"  type="text" class="comboBox__input">
                
                      <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="modeloState = !modeloState">
                          <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                      </button>
                
                      <div class="comboBox__items" *ngIf="modeloState" (blur)="modeloState = false">
                        <button (click)="openAddModelo()" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;"><i class="material-icons" style="position: relative; bottom: 2px">add</i>Adicionar Modelo</span>
                        </button>
                        <button *ngFor="let m of resultFilterModelos; let i = index" (click)="setModelo(m)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{m.vmo_nome}}</span>
                        </button>
                        <span *ngIf="resultFilterModelos.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                      </div>
                  </div>
                </div>
                <small *ngIf="this.errorModelo.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>

            <div class="form-group" *ngIf="!this.pageParams.params.page" style="margin-bottom: 10px; height: 90px;">
                <label class="col-2 col-form-label">Cor do veiculo <span class="text-danger">*</span></label>
                <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                  <div class="mdl-textfield mdl-js-textfield comboBox" >
                      <input style="cursor: pointer" readonly (click)="corState = !corState" (keydown)="filterCores($event, this.cor, this.cores)" [(ngModel)]="this.cor"  type="text" class="comboBox__input">
                
                      <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="corState = !corState">
                          <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                      </button>
                
                      <div class="comboBox__items" *ngIf="corState" (blur)="corState = false">
                          <button *ngFor="let c of resultFilterCores; let i = index" (click)="setCor(c)" class="mdl-button mdl-js-button comboBox__item">
                              <span style="position: absolute; left: 2px; top: 2px;">{{c.cor_nome}}</span>
                          </button>
                          <span *ngIf="resultFilterCores.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                      </div>
                  </div>
                </div>
                <small *ngIf="this.errorCor.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>

            <div class="form-group " *ngIf="!this.pageParams.params.page">
                <label class="col-2 col-form-label">Placa <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="placaMoradorInput" type="text" class="form-control" [(ngModel)]="this.placa" >
                </div>
                <small *ngIf="this.errorPlaca.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label" style="max-width: 175px;">Numero do cartão <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" [(ngModel)]="this.cartao" />
                </div>
                <small *ngIf="this.errorCartao.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>

            <button class="btn btn-info col-12" (click)="cadMorador()">
                Cadastrar
            </button>
        </div>
    </div>
</div>