<div *ngIf="imageDialog" style="z-index: 10; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.3); position: absolute;">
    <div class="mdl-card mdl-shadow--2dp" style="display: table; margin: 5% auto">
        <div class="mdl-card__title">
          <div class="col-md-10 col-10 align-self-center">
              <h3 class="text-themecolor m-b-0 m-t-0">Visualizar Imagem</h3>
          </div>
        </div>
        <div class="mdl-card__media mdl-color--white">
            <div>
                <img src="{{ ('http://localhost/acessov1/uploads/' +image ) }}" style="width: 320px; border: 1px solid #212121;display: table;margin: 10px auto;"/>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button (click)="closeImageDialog()" class="mdl-button mdl-js-button mdl-js-ripple-effect btn btn-info">
                Fechar
            </button>
        </div>
    </div>
</div>

<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Lista de Visitantes</h3>
    </div>

      <div class="card" style="margin-top: 10px;">
        <div class="card-body" >
            <div *ngIf="this.visitantes.length < 1" style="display: table; margin: auto">
              <span class="material-icons" style="display: table; margin: auto; font-size: 62px;">info</span>
              <span>Nenhum resultado encontrado!</span>
            </div>

            <table *ngIf="this.visitantes.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Foto</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Nome</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="1">RG</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Telefone</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of visitantes" style="position: relative;">
                        <td class="image" style="width: 80px" >
                          <img (click)="openImageDialog(v)" src="{{ ('http://localhost/acessov1/uploads/' +v.vis_foto ) }}" style="width: 64px;height: 64px;border-radius: 100px;border: 1px solid #212121;display: table;margin: auto;"/>
                          <span class="image__hint" >Visualizar</span>
                        </td> 
                        <td>
                          <a>{{v.vis_nome}}</a>
                        </td>
                        <td>{{v.vis_rg}}</td>
                        <td>{{v.vis_telefone}}</td>
                        <!-- <td>{{m.cas_rua_nome}}</td>
                        <td>{{m.cas_quadra}}</td>
                        <td>{{m.cas_lote}}</td> -->
                        <td style="width: 80px;">
                          <button class="mdl-button mdl-js-button mdl-button--icon" (click)="v.menuRow = !v.menuRow">
                            <i class="material-icons">keyboard_arrow_down</i>
                          </button>
                          <div *ngIf="v.menuRow == true" style="position: absolute;right: 5%;background-color: #fff;border: 1px solid #212121;width: 120px;z-index: 10;">
                            <button class="mdl-button mdl-js-button" [routerLink]="['/main/novaVisita', {id: v.vis_id, nome: v.vis_nome}]" style="width: 100%; text-transform: none">
                              <i class="material-icons" style="font-size: 14px;">open_in_new</i>
                              <span>Nova visita</span>
                            </button>
                            <button class="mdl-button mdl-js-button" [routerLink]="['/main/historicoVisita', {id: v.vis_id}]" style="width: 100%; text-transform: none">
                              <i class="material-icons" style="font-size: 14px;">today</i>
                              <span>Histórico</span>
                            </button>
                            <button class="mdl-button mdl-js-button" [routerLink]="['/main/cadVisitante', {page: 'editar', id: v.vis_id}]" (click)="v.menuRow = !v.menuRow" style="width: 100%; text-transform: none">
                              <i class="material-icons" style="font-size: 14px;">mode_edit</i>
                              <span>Editar</span>
                            </button>
                            <button (click)="removeMorador(m)" class="mdl-button mdl-js-button" (click)="v.menuRow = !v.menuRow" style="width: 100%; text-transform: none">
                              <i class="material-icons" style="font-size: 14px;">delete_forever</i>
                              <span>Remover</span>
                            </button>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>