<div *ngIf="imageDialog" style="z-index: 10; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.3); position: absolute;">
    <div class="mdl-card mdl-shadow--2dp" style="display: table; margin: 5% auto">
        <div class="mdl-card__title">
          <div class="col-md-10 col-10 align-self-center">
              <h3 class="text-themecolor m-b-0 m-t-0">Visualizar Imagem</h3>
          </div>
        </div>
        <div class="mdl-card__media mdl-color--white">
            <div>
                <img src="{{ ('http://localhost/acessov1/uploads/' +image ) }}" style="width: 320px; border: 1px solid #212121;display: table;margin: 10px auto;"/>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button (click)="closeImageDialog()" class="mdl-button mdl-js-button mdl-js-ripple-effect btn btn-info">
                Fechar
            </button>
        </div>
    </div>
</div>

<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Historico de visitas:</h3>
    </div>

      <div class="card" style="margin-top: 10px;">
        <div class="card-body">
            <div *ngIf="this.tableContent.content.length < 1" style="display: table; margin: auto">
              <span class="material-icons" style="display: table; margin: auto; font-size: 62px;">info</span>
              <span>Nenhum resultado encontrado!</span>
            </div>

            <div *ngIf="this.tableContent.content.length > 0" style="border-bottom: 1px solid #dcdcdc;">
              <div class="image" (click)="openImageDialog(tableContent.content[0])" style="width: 100px;display: inline-table;margin-bottom: 20px;">
                <img src="{{ ('http://localhost/acessov1/uploads/' +tableContent.content[0].vis_foto ) }}" style="width: 64px;height: 64px;border-radius: 100px;border: 1px solid #212121; position: relative;"/>
                <span class="image__hint" >Visualizar</span>
              </div>
              <div style="display: inline-table;position: relative;bottom: 20px;">
                <span style="font-size: 16px; font-weight: bold;">{{tableContent.nome}}</span><br>
                <span style="font-size: 12px; font-weight: bold;">Detalhes: </span>
                <div>
                  <span><b>RG:</b>  {{tableContent.content[0].vis_rg}}</span><br>
                  <span><b>Telefone:</b>  {{tableContent.content[0].vis_telefone}}</span><br>
                </div>
              </div>
            </div>

            <table *ngIf="this.tableContent.content.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Carro / Placa / Marca / Cor</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Morador</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Casa</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Quadra</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Lote</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Data / Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tableContent.content; let i = index" style="position: relative;">
                        <td>{{t.vmo_nome + ' / '+ t.vel_placa + ' / ' + t.vm_nome + ' / ' +t.cor_nome}}</td>
                        <td>{{t.mor_nome}}</td>
                        <td>{{t.cas_rua_nome}}</td>
                        <td>{{t.cas_quadra}}</td>
                        <td>{{t.cas_lote}}</td> 
                        <td>{{t.aux_vis_mor_data2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>