<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="background-image: url('./assets/background.jpg'); background-size: 100% 100%">
  <main class="mdl-layout__content">
    <div class="mdl-card mdl-shadow--2dp response">
      <div class="mdl-card__title mdl-color--indigo-400">
        <img src="./assets/logo.png"/>
      </div>
      <div class="mdl-card__media mdl-color--white">
        <div class="form-group " style="margin-bottom: 10px; height: 90px;" *ngIf="this.selectLocal">
            <label class="col-6 col-form-label">Portaria: <span class="text-danger">*</span></label>
            <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                <div class="mdl-textfield mdl-js-textfield comboBox" >
                    <input style="cursor: pointer" readonly (click)="portariaState = !portariaState" [(ngModel)]="this.portaria"  type="text" class="comboBox__input">
            
                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="portariaState = !portariaState">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>
            
                    <div class="comboBox__items" *ngIf="portariaState" (blur)="portariaState = false">
                        <button *ngFor="let p of ['Portaria 1', 'Portaria 2', 'Portaria 3']; let i = index" (click)="setPortaria(i)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{p}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <small *ngIf="this.errorPortaria.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="mdl-textfield" style="display: table; margin: auto">
          <input id="userInput" type="text" (keydown)="focusPass($event)" class="mdl-textfield__input" placeholder="Usuário" [(ngModel)]="u"/>
        </div>

        <div class="mdl-textfield" style="display: table; margin: auto"> 
          <input id="passInput" (keydown)="loginKey($event)" type="password" class="mdl-textfield__input" placeholder="Senha" [(ngModel)]="p"/>
        </div>

        <span style="color: #2c59a3; display: table;margin: auto" *ngIf="this.error.message.length > 0">{{this.error.message}}</span>
      </div>

      <div class="mdl-card__actions">
        <button (click)="login(u, p)" class="mdl-color--indigo-500 mdl-button mdl-js-button mdl-js-ripple-effect" style="float: right; border-radius: 4px; background: #2c59a3">
          <span class="mdl-color-text--white">Entrar</span>
        </button>
      </div>
    </div>
  </main>
</div>
