<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Lista de Carros</h3>
    </div>

      <div class="card" style="margin-top: 10px;">
        <div class="card-body">
            <div *ngIf="this.tableContent.length < 1" style="display: table; margin: auto">
              <span class="material-icons" style="display: table; margin: auto; font-size: 62px;">info</span>
              <span>Nenhum resultado encontrado!</span>
            </div>

            <div *ngIf="this.tableContent.length > 0" style="margin-top: 10px; border-bottom: 1px solid #dcdcdc;">
              <div style="display: inline-table;position: relative;bottom: 20px;">
                <span style="font-size: 16px; font-weight: bold;">{{tableContent[0].mor_nome}}</span><br>
                <span style="font-size: 12px; font-weight: bold;">Detalhes: </span>
                <div>
                  <span><b>RG:</b>  {{tableContent[0].mor_rg}}</span><br>
                  <span><b>Telefone:</b>  {{tableContent[0].mor_telefone}}</span><br>
                </div>
              </div>
              <div style="display: inline-table; float: right;">
                <button class="btn btn-info" [routerLink]="['/main/addCarro', {id: tableContent[0].mor_id}]">
                  <i class="material-icons" style="position: relative; top: 7px;">add</i>
                  Adicionar carro
                </button>
              </div>
            </div>

            <table *ngIf="this.tableContent.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Modelo</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Placa</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Marca</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Cor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tableContent; let i = index" style="position: relative;">
                        <td>{{t.vmo_nome}}</td>
                        <td>{{t.vel_placa}}</td>
                        <td>{{t.vm_nome}}</td>
                        <td>{{t.cor_nome}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>