<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Lista de Casas</h3>
    </div>

      <div class="card" style="margin-top: 10px;">
        <div class="card-body">
            <div *ngIf="this.tableContent.length < 1" style="display: table; margin: auto">
              <span class="material-icons" style="display: table; margin: auto; font-size: 62px;">info</span>
              <span>Nenhum resultado encontrado!</span>
            </div>

            <table *ngIf="this.tableContent.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Rua</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Quadra</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Lote</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tableContent; let i = index" style="position: relative;">
                        <td>{{t.cas_rua_nome}}</td>
                        <td>{{t.cas_quadra}}</td>
                        <td>{{t.cas_lote}}</td>
                        <td style="width: 80px">
                          <button class="mdl-button mdl-js-button mdl-button--icon" (click)="t.menuRow = !t.menuRow">
                            <i class="material-icons">keyboard_arrow_down</i>
                          </button>
                          <div *ngIf="t.menuRow == true" style="right: 5%; position: absolute;background-color: #fff;border: 1px solid #212121;width: 120px;z-index: 10;">
                              <button class="mdl-button mdl-js-button" [routerLink]="['/main/cadCasa', {page: 'editar', id: t.cas_id}]" style="width: 100%; text-transform: none">
                                  <i class="material-icons" style="font-size: 14px;">mode_edit</i>
                                  <span>Editar</span>
                              </button>
                              <button (click)="removeCasa(t)" class="mdl-button mdl-js-button" style="width: 100%; text-transform: none">
                                  <i class="material-icons" style="font-size: 14px;">delete_forever</i>
                                  <span>Remover</span>
                              </button>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>