<div class="fix-header fix-sidebar card-no-border">
  <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar" style="width: 100%">
          <nav class="navbar top-navbar navbar-expand-md navbar-light">
              <!-- ============================================================== -->
              <!-- Logo -->
              <!-- ============================================================== -->
              <div class="navbar-header" style="position: fixed">
                  <a class="navbar-brand">
                      <!-- Logo icon -->
                      <b>
                          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                          <!-- Dark Logo icon -->
                          <img src="./assets/logo.png" alt="homepage" class="dark-logo" />
                          <!-- Light Logo icon -->
                          <img src="./assets/logo.png" alt="homepage" class="light-logo" />
                      </b>
                    </a>
              </div>
              <!-- ============================================================== -->
              <!-- End Logo -->
              <!-- ============================================================== -->
              <div class="navbar-collapse" style="position: relative;">
                <div class="form-group " style="margin-bottom: 10px; height: 90px; position: absolute; right: 300px; top: 17px;">
                    <div class="controls col-12" style="position: relative; bottom: 20px;">
                        <div class="mdl-textfield mdl-js-textfield comboBox" >
                            <input style="cursor: pointer" readonly (click)="tipoPesquisaState = !tipoPesquisaState" [(ngModel)]="this.tipoPesquisa"  type="text" class="comboBox__input">
                    
                            <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="tipoPesquisaState = !tipoPesquisaState">
                                <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                            </button>
                    
                            <div class="comboBox__items" *ngIf="tipoPesquisaState" (blur)="tipoPesquisaState = false">
                                <button *ngFor="let p of ['Morador', 'Visitante']; let i = index" (click)="setPesquisa(p)" class="mdl-button mdl-js-button comboBox__item">
                                    <span style="position: absolute; left: 2px; top: 2px;">{{p}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- ============================================================== -->
                  <!-- toggle and nav items -->
                  <!-- ============================================================== -->
                  <ul class="navbar-nav mr-auto mt-md-0 ">
                      <!-- This is  -->
                      <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                      <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li>
                  </ul>
                  <!-- ============================================================== -->
                  <!-- User profile and search -->
                  <!-- ============================================================== -->
                  <ul class="navbar-nav my-lg-0" style="position: relative;">
                      <li class="nav-item hidden-sm-down">
                        <div class="app-search">
                            <input id="searchInputRG" type="text" [(ngModel)]="this.searchQuery" class="form-control" placeholder="Procurar RG" (keydown)="search($event, searchQuery)">
                            <a class="srh-btn">
                                <i class="ti-search"></i>
                            </a> 
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./assets/avatar.png" alt="user" class="profile-pic" /></a>
                          <div class="dropdown-menu dropdown-menu-right animated flipInY">
                              <ul class="dropdown-user">
                                  <li>
                                      <div class="dw-user-box">
                                          <div class="u-img"><img src="./assets/avatar.png" alt="user"></div>
                                          <div class="u-text">
                                              <h4>{{userData[0].usu_nome}}</h4>
                                              <p class="text-muted">{{userData[0].usu_email}}</p>
                                          </div>
                                      </div>
                                  </li>
                                  <li role="separator" class="divider"></li>
                                  <li><a (click)="logOut()"><i class="material-icons" style="position: relative; top: 5px;">power_settings_new</i> Sair</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- User profile -->
              <div class="user-profile">
                  <!-- User profile image -->
                  <div class="profile-img"> <img src="./assets/avatar.png" alt="user" /> </div>
                  <!-- User profile text-->
                  <div class="profile-text"> <a  class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{userData[0].usu_nome}}<span class="caret"></span></a>
                      <div class="dropdown-menu animated flipInY">
                          <a (click)="logOut()" class="dropdown-item">
                            <i class="material-icons" style="position: relative; top: 5px;">power_settings_new</i> 
                            Sair
                          </a>
                      </div>
                  </div>
              </div>
              <!-- End User profile text-->
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                  <ul id="sidebarnav">
                      <li class="nav-small-cap">MENU</li>
                      <ul aria-expanded="false">
                        <li><a [routerLink]="['dashboard']">Início</a></li>
                        <li><a [routerLink]="['cadVisitante']">Cadastro de Visitante</a></li>
                        <li><a [routerLink]="['innerload', {page: '/main/listaVisitante'}]">Lista de Visitantes</a></li>
                        <li><a [routerLink]="['cadMorador']">Cadastro de Morador</a></li>
                        <li><a [routerLink]="['innerload', {page: '/main/listaMorador'}]">Lista de Moradores</a></li>
                        <li><a [routerLink]="['cadCasa']">Cadastro de Casa</a></li>
                        <li><a [routerLink]="['listaCasa']">Lista de Casas</a></li>
                        <li><a [routerLink]="['innerload', {page: '/main/registros'}]">Registros de Visita</a></li>
                        <li><a [routerLink]="['cadCartao']">Cadastro de Cartão</a></li>
                        <!-- <li><a href="ui-tooltip-popover.html">Tooltip &amp; Popover</a></li>
                        <li><a href="ui-tooltip-stylish.html">Tooltip stylish</a></li>
                        <li><a href="ui-sweetalert.html">Sweet Alert</a></li>
                        <li><a href="ui-notification.html">Notification</a></li>
                        <li><a href="ui-progressbar.html">Progressbar</a></li>
                        <li><a href="ui-nestable.html">Nestable</a></li>
                        <li><a href="ui-range-slider.html">Range slider</a></li>
                        <li><a href="ui-timeline.html">Timeline</a></li>
                        <li><a href="ui-typography.html">Typography</a></li>
                        <li><a href="ui-horizontal-timeline.html">Horizontal Timeline</a></li>
                        <li><a href="ui-session-timeout.html">Session Timeout</a></li>
                        <li><a href="ui-session-ideal-timeout.html">Session Ideal Timeout</a></li>
                        <li><a href="ui-bootstrap.html">Bootstrap Ui</a></li>
                        <li><a href="ui-breadcrumb.html">Breadcrumb</a></li>
                        <li><a href="ui-bootstrap-switch.html">Bootstrap Switch</a></li>
                        <li><a href="ui-list-media.html">List Media</a></li>
                        <li><a href="ui-ribbons.html">Ribbons</a></li>
                        <li><a href="ui-grid.html">Grid</a></li>
                        <li><a href="ui-carousel.html">Carousel</a></li>
                        <li><a href="ui-date-paginator.html">Date-paginator</a></li>
                        <li><a href="ui-dragable-portlet.html">Dragable Portlet</a></li> -->
                      </ul>
                  </ul>
              </nav>
          </div>
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                        <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                        <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                    </ul>
                    <ul class="m-t-20 chatonline">
                        <li><b>Chat option</b></li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
      </div> 
      <footer class="footer" style="position: relative; left: 0px;">
          © 2018 Media News IT
      </footer>
</div>