.image{
    cursor: pointer;
}

.image__hint{
    display: none;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    position: absolute;
    padding: 8px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
    left: 0;
}

.image:hover > .image__hint{
    display: block;
}