<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Registros</h3>
    </div>

      <div class="card" style="margin-top: 10px;">
        <div class="card-body" >
            <div class="col-4">
              <span class="text-themecolor m-b-0 m-t-0" style="font-size: 12px;">Pesquisar por Morador</span>
              <input class="form-control" [(ngModel)]="this.searchQuery" (keydown)="filterMorador(this.searchQuery, this.registros)"/>
            </div>
            
            <div *ngIf="this.resultFilterMorador.length < 1" style="display: table; margin: auto">
              <span class="material-icons" style="display: table; margin: auto; font-size: 62px;">info</span>
              <span>Nenhum resultado encontrado!</span>
            </div>

            <div style="margin-top: 20px; ">
              <table *ngIf="this.resultFilterMorador.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                  <thead>
                      <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Visitante</th>
                          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Morador</th>
                          <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="1">Local de entrada</th>
                          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Entrada</th>
                          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Saída</th>
                          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Cartão</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let r of resultFilterMorador" style="position: relative;">
                          <td>{{r.vis_nome}}</td>
                          <td>{{r.mor_nome}}</td> 
                          <td>{{'Portaria '+r.reg_local}}</td>
                          <td>{{r.reg_data_entrada2}}</td>
                          <td>{{r.reg_data_saida2}}</td>
                          <td>{{r.reg_cartao_numero}}</td>
                          <!-- <td style="width: 80px;">
                            <button class="mdl-button mdl-js-button mdl-button--icon" (click)="v.menuRow = !v.menuRow">
                              <i class="material-icons">keyboard_arrow_down</i>
                            </button>
                            <div *ngIf="v.menuRow == true" style="position: absolute;right: 5%;background-color: #fff;border: 1px solid #212121;width: 120px;z-index: 10;">
                              <button class="mdl-button mdl-js-button" [routerLink]="['/main/novaVisita', {id: v.vis_id, nome: v.vis_nome}]" style="width: 100%; text-transform: none">
                                <i class="material-icons" style="font-size: 14px;">open_in_new</i>
                                <span>Nova visita</span>
                              </button>
                              <button class="mdl-button mdl-js-button" [routerLink]="['/main/historicoVisita', {id: v.vis_id}]" style="width: 100%; text-transform: none">
                                <i class="material-icons" style="font-size: 14px;">today</i>
                                <span>Histórico</span>
                              </button>
                              <button class="mdl-button mdl-js-button" [routerLink]="['/main/cadVisitante', {page: 'editar', id: v.vis_id}]" (click)="v.menuRow = !v.menuRow" style="width: 100%; text-transform: none">
                                <i class="material-icons" style="font-size: 14px;">mode_edit</i>
                                <span>Editar</span>
                              </button>
                              <button (click)="removeMorador(m)" class="mdl-button mdl-js-button" (click)="v.menuRow = !v.menuRow" style="width: 100%; text-transform: none">
                                <i class="material-icons" style="font-size: 14px;">delete_forever</i>
                                <span>Remover</span>
                              </button>
                            </div>
                          </td> -->
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>
</div>