<div class="page-wrapper">
    <div class="container-fluid">
      <svg class="circular" viewBox="25 25 50 50" style="position: relative; left: 50%; top: 50%;">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
      <span style="position: relative;left: 40%;top: 45px;">
        Carregando conteúdo...
      </span>
    </div>
</div>