<div class="page-wrapper">
  <div *ngIf="readCard == true" class="container-fluid">
      <svg class="circular" viewBox="25 25 50 50" style="position: relative; left: 50%; top: 50%;">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
      <span style="position: relative;left: 40%;top: 45px;">
        <i class="material-icons" style="position: relative;left: 66px;bottom: 35px;">credit_card</i>
        Esperando cartão...
      </span>
  </div>
  
  <div *ngIf="readCard == false" class="container-fluid">
      <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0">Cadastro de Casa</h3>
      </div>

      <div>  
            <div class="form-group ">
                <label class="col-4 col-form-label">Nome ou numero da rua <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" [(ngModel)]="this.nome" >
                </div>
                <small *ngIf="this.errorNome.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>
  
            <div class="form-group ">
                <label class="col-2 col-form-label">Quadra <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" [(ngModel)]="this.quadra">
                </div>
                <small *ngIf="this.errorQuadra.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>
  
            <div class="form-group ">
                <label class="col-2 col-form-label">Lote <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" [(ngModel)]="this.lote">
                </div>
                <small *ngIf="this.errorLote.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
            </div>

            <button class="btn btn-info col-12" (click)="cadCartao()">
              Cadastrar
            </button>
      </div>
  </div>
</div>