<div *ngIf="addModeloState" style="z-index: 10; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.3); position: absolute;">
    <div class="mdl-card mdl-shadow--2dp" style="display: table; margin: 10% auto">
        <div class="mdl-card__title">

        </div>
        <div class="mdl-card__media mdl-color--white">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Adicionar Modelo</h3>
            </div>
            <div class="form-group " style="margin-bottom: 10px; height: 90px;">
                <label class="col-2 col-form-label" style="max-width: 175px;">Marca do veiculo <span class="text-danger">*</span></label>
                <div class="controls col-12" style="position: relative; bottom: 20px;">
                    <div class="mdl-textfield mdl-js-textfield comboBox" >
                        <input style="cursor: pointer" readonly (click)="marcaState = !marcaState" (keydown)="filterMarcas($event, this.marca, this.marcas)" [(ngModel)]="this.marca"  type="text" class="comboBox__input">
                
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="marcaState = !marcaState">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
                
                        <div class="comboBox__items" *ngIf="marcaState" (blur)="marcaState = false">
                            <button *ngFor="let m of resultFilterMarcas; let i = index" (click)="setMarca(m)" class="mdl-button mdl-js-button comboBox__item">
                                <span style="position: absolute; left: 2px; top: 2px;">{{m.vm_nome}}</span>
                            </button>
                            <span *ngIf="resultFilterMarcas.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-2 col-form-label" style="max-width: 175px;">Nome <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="addModeloInputNovaVisita" type="text" class="form-control" placeholder="Modelo">
                </div>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button (click)="cancelAddModelo()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Cancelar
            </button>
            <button (click)="addModelo()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Adicionar
            </button>
        </div>
    </div>
</div>

<!-- Add marca -->
<div *ngIf="addMarcaState" style="z-index: 10; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.3); position: absolute;">
    <div class="mdl-card mdl-shadow--2dp" style="display: table; margin: 10% auto">
        <div class="mdl-card__title">

        </div>
        <div class="mdl-card__media mdl-color--white">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Adicionar Marca</h3>
            </div>
            <div class="form-group ">
                <label class="col-2 col-form-label" style="max-width: 175px;">Nome <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="addMarcaInputNovaVisita" type="text" class="form-control" placeholder="Marca">
                </div>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button (click)="cancelAddMarca()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Cancelar
            </button>
            <button (click)="addMarca()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Adicionar
            </button>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="container-fluid">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Nova visita: {{this.pageParams.params.nome}}</h3>
      </div>
  
        <div class="card" style="margin-top: 10px;">
          <div class="card-body" >
              <div class="form-group " style="margin-bottom: 10px; height: 90px;">
                  <label class="col-2 col-form-label">Marca do veiculo <span class="text-danger">*</span></label>
                  <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                    <div class="mdl-textfield mdl-js-textfield comboBox" >
                        <input style="cursor: pointer" readonly (click)="marcaState = !marcaState" (keydown)="filterMarcas($event, this.marca, this.marcas)" [(ngModel)]="this.marca"  type="text" class="comboBox__input">
                  
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="marcaState = !marcaState">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
                  
                        <div class="comboBox__items" *ngIf="marcaState" (blur)="marcaState = false">
                          <button (click)="openAddMarca()" class="mdl-button mdl-js-button comboBox__item">
                              <span style="position: absolute; left: 2px; top: 2px;"><i class="material-icons" style="position: relative; bottom: 2px">add</i>Adicionar Marca</span>
                          </button>
                          <button *ngFor="let m of resultFilterMarcas; let i = index" (click)="setMarca(m)" class="mdl-button mdl-js-button comboBox__item">
                              <span style="position: absolute; left: 2px; top: 2px;">{{m.vm_nome}}</span>
                          </button>
                          <span *ngIf="resultFilterMarcas.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                        </div>
                    </div>
                  </div>
                  <small *ngIf="this.errorMarca.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>
    
              <div class="form-group " style="margin-bottom: 10px; height: 90px;">
                  <label class="col-2 col-form-label">Modelo do veiculo <span class="text-danger">*</span></label>
                  <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                    <div class="mdl-textfield mdl-js-textfield comboBox" >
                        <input style="cursor: pointer" readonly (click)="modeloState = !modeloState" (keydown)="filterModelos($event, this.modelo, this.modelos)" [(ngModel)]="this.modelo"  type="text" class="comboBox__input">
                  
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="modeloState = !modeloState">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
                  
                        <div class="comboBox__items" *ngIf="modeloState" (blur)="modeloState = false">
                          <button (click)="openAddModelo()" class="mdl-button mdl-js-button comboBox__item">
                              <span style="position: absolute; left: 2px; top: 2px;"><i class="material-icons" style="position: relative; bottom: 2px">add</i>Adicionar Modelo</span>
                          </button>
                          <button *ngFor="let m of resultFilterModelos; let i = index" (click)="setModelo(m)" class="mdl-button mdl-js-button comboBox__item">
                              <span style="position: absolute; left: 2px; top: 2px;">{{m.vmo_nome}}</span>
                          </button>
                          <span *ngIf="resultFilterModelos.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                        </div>
                    </div>
                  </div>
                  <small *ngIf="this.errorModelo.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>
    
              <div class="form-group " style="margin-bottom: 10px; height: 90px;">
                  <label class="col-2 col-form-label">Cor do veiculo <span class="text-danger">*</span></label>
                  <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                    <div class="mdl-textfield mdl-js-textfield comboBox" >
                        <input style="cursor: pointer" readonly (click)="corState = !corState" (keydown)="filterCores($event, this.cor, this.cores)" [(ngModel)]="this.cor"  type="text" class="comboBox__input">
                  
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="corState = !corState">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
                  
                        <div class="comboBox__items" *ngIf="corState" (blur)="corState = false">
                            <button *ngFor="let c of resultFilterCores; let i = index" (click)="setCor(c)" class="mdl-button mdl-js-button comboBox__item">
                                <span style="position: absolute; left: 2px; top: 2px;">{{c.cor_nome}}</span>
                            </button>
                            <span *ngIf="resultFilterCores.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                        </div>
                    </div>
                  </div>
                  <small *ngIf="this.errorCor.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>
    
              <div class="form-group ">
                  <label class="col-2 col-form-label">Placa <span class="text-danger">*</span></label>
                  <div class="controls col-12">
                      <input id="placaMoradorInput" type="text" class="form-control" [(ngModel)]="this.placa" >
                  </div>
                  <small *ngIf="this.errorPlaca.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
              </div>
    
              <div class="form-group " style="margin-bottom: 10px; height: 90px;">
                  <label class="col-2 col-form-label">Morador <span class="text-danger">*</span></label>
                  <div class="controls col-12" style="position: relative; bottom: 20px;height: 30px;">
                    <div class="mdl-textfield mdl-js-textfield comboBox" >
                        <input style="cursor: pointer" readonly (click)="moradorState = !moradorState" (keydown)="filterMoradores($event, this.morador, this.moradores)" [(ngModel)]="this.morador"  type="text" class="comboBox__input">
                  
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="moradorState = !moradorState">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
                  
                        <div class="comboBox__items" *ngIf="moradorState" (blur)="moradorState = false">
                            <button *ngFor="let m of resultFilterMorador; let i = index" (click)="setMorador(m)" class="mdl-button mdl-js-button comboBox__item">
                                <span style="position: absolute; left: 2px; top: 2px;">{{'Morador: '+ m.mor_nome + ' | Telefone: '+ m.mor_telefone +' | Rua: ' + m.cas_rua_nome + ' | Quadra: ' + m.cas_quadra + ' | Lote: '+ m.cas_lote}}</span>
                            </button>
                            <span *ngIf="resultFilterMorador.length < 1" style="display: table; margin: auto">Nenhum resultado</span>
                        </div>
                    </div>
                  </div>
              </div>

                <div class="form-group ">
                    <label class="col-2 col-form-label">Código do cartão <span class="text-danger">*</span></label>
                    <div class="controls col-12">
                        <input type="text" class="form-control" [(ngModel)]="this.cartao" >
                    </div>
                    <small *ngIf="this.errorCartao.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
                </div>
              <button class="btn btn-info col-12" (click)="cadVisita()">
                Cadastrar nova visita
              </button>
          </div>
      </div>
  </div>  
</div>