.comboBox {
    position: relative;
    width: 100%;
}

.comboBox__button{
    position: absolute;
    right: 5px;
}

.comboBox__items{
    overflow-y: auto;
    max-height: 150px;
    z-index: 5;
    position: absolute;
    background: #fff;
    width: 100%;
    border: 1px solid #dcdcdc;
}

.comboBox__item{
    border-bottom: 1px solid #dcdcdc;
    height: 30px;
    position: relative;
    width: 100%;
    bottom: 0;
    text-transform: none;
    top: 0;
}

.comboBox__input{
    height: calc(2.25rem + 2px);
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* border-radius: 20px; */
}

